<a href="https://colab.research.google.com/github/WahlerP/WahlerP.github.io/blob/main/Coding_Crashcourse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **VARIABLES**
Variables are used to store values (e.g. a number or a string of text). For example, we can store a name in a variable called `myName`. Later, we can access or edit the value that is stored in this variable.

Let's try it out:

In [ ]:
myName = "Kevin"
print(myName)

Kevin

Variable names can be chosen quite freely as long as they don't start with a number or contain some special characters. Moreover, variable names cannot be Python-specific keywords such as `False, True, str, int, for  `or`  if`.

In [ ]:
False = "Kevin"
print(False)

SyntaxError: ignored

As mentioned above, a variable is used to "store" a value. Even though it is nice to imagine that this value is directly assigned to the variable itself, this is not exactly the case. More precisely the value is stored at a certain location in memory to which our variable points/references. For now, however, this has no major impact – so let us get back to that later in the chapter about lists.

# **Built in Data Types**

When programming we make use of some basic data types. A data type is an indication of a certain type of data and defines what operations can be performed on this certain type of data. For example, a string `str` is used to represent text (or more precisely a sequence of characters) whereas an integer `int` is a data type and is used to represent whole numbers.

## String `str`

As mentioned before a string is used to represent a sequence of characters – i.e. text. We signal a string by either putting single `'`, double `"`, or triple (three single) `'''` quotation marks around the text.

### Basic Operations with Strings

In [ ]:
#Combine two strings into one string (also called concatenation):
"gold" + "fish" # -> results in "goldfish"

#We can get the length of a string:
myWord = "Goldfish" #We first assign a string to the variable name

len(myWord) # -> result: 8 (i.e. the value stored in myWord is 8 characters long)

8

In [ ]:
#We can convert all characters in a string into upper- / lowercase by typing:
myWord.upper() # -> results in "GOLDFISH"

'GOLDFISH'

In [ ]:
myWord.lower() # -> results in "goldfish"

'goldfish'

## Integer `int`
An integer is a whole number (i.e. no decimals).

In [ ]:
#Basically, all normal mathematical operations can be performed with integers:
2 + 2 # -> results in 4
5 - 3 # -> results in 2
3 * 3 # -> results in 9
10 / 5 # -> results in 2

2.0

In [ ]:
#There are some more sophisticated operations as well:
#Raising a number to a power
2 ** 3 # this raises 2 to the power of 3 -> result 8

8

In [ ]:
#Floor division
10 // 3 # this divides 10 by 3 and gets rid of the remainder -> result 3

3

In [ ]:
#Modulo operator
8 % 3 #this gives us the remainder of the division of 8 by 3.

2

## Float `float`

Clearly you have noticed that not only whole numbers can be used in Python. Numbers with decimal values are floats or floating-point numbers. Python automatically (this is not the case in all programming languages) transforms an integer into a floating-point number e.g. when a division yields a decimal number. This is called **type promotion**. With float we can perform the same operations as with integers.

## Boolean `bool`
A Boolean or bool (as introduced in Chapter XX) is a value that has only two possible states, either `True` or `False`. Booleans are especially useful in if statement as we will see later.

## Conversion between data types

In Python we can convert data types by using type conversion functions such as `int()`, `str()`,`float()` etc. However, this only works if the different values are compatible with one another. For example, we can only convert a string into an integer when the string contains "number characters" `int("25") → results in 25 an integer.` However, `int("hello")`, of course, will fail.

In [ ]:
type("25") #check which data type "25" is --> str

str

In [ ]:
type(int("25")) # we can see that the data type changes to int

int

In [ ]:
int("hello") # we (obviously) cannot convert text into integers

ValueError: ignored

## Lists `list`

Python offers several built-in compound data types, for example, lists. Compound data types are also referred to as sequences. Lists are one of the most frequently used and very versatile data types in Python and are used to store multiple elements inside one object. For example, we can store multiple numbers or strings in one variable (e.g. `myNumbers = [1, 2, 3, 4, 5]` or `myFaviouriteCities = ["London", "Rome", "Paris"]`). Therefore, we put multiple values separated by comma into ` [ ] ` brackets.

### Access single elements in lists

A list by itself is not very useful - we need to be able to access single elements. In Python each element inside a list can be accessed through its so-called `index`. The first element has index `0`, the second index `1`, etc. This concept is called **zero-based indexing** since we start counting from 0 and not from 1. We can access the respective element by writing the name of the list followed by squared brackets containing the index number like this `nameOfList[index]`.

In [ ]:
#Create a list.
myList = ["London", "Rio", "Havanna", "Rome", "Berlin"]

#Get the first element of a list and print it. -> result: London
print(myList[0]) #Note the first element has index = 0

London

In [ ]:
#How to access items of a nested list.
nestedList = [ ["Apple", "Banana", "Oranges"], ["Tomato", "Salad"]]

#Access the second element inside the first nested list.
nestedList[0][1] 	# -> Result Banana ([0] will give us the first element in nestedList, which is a list. Therefore, we can access the elements inside this nested list again by using [1].

'Banana'

### Other Operations with Lists

In [ ]:
myList = [1,2,3,4]

#Add an element at the end of a list
myList.append(5) #Now the myList will be [1,2,3,4,5]

print(myList)

[1, 2, 3, 4, 5]

In [ ]:
#Add multiple elements at the end of a list
myList.extend([6,7,8,9])

print(myList)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:

#Remove an element at a certain index from the list
myList.pop(0) #Removes the first element of the list and returns it

print(myList)

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Reverse the order of the elements in the list
myList.reverse() #The list is now [9,8,7,6,5,4,3,2,1]

print(myList)

[9, 8, 7, 6, 5, 4, 3, 2]

In [ ]:
#Change a specific element of the list
myList[0] = 2 #This changes the first element of the list to the value 2

print(myList)

[2, 8, 7, 6, 5, 4, 3, 2]

## Tuples `tuple`
A tuple is very similar to a list. The only difference is that a tuple is **immutable**. This means that we cannot change the elements of a tuple after defining it. A tuple is defined by using round brackets `( )` – e.g. `(0,1,2,3,4,5)`. Elements of tuples can be retrieved in the same way (indexing) as with lists.

In [ ]:
myTuple = (1,2,3,4)

print(myTuple[1]) #print 2nd element of tuple

2

In [ ]:
myTuple.append(5) #won't work as tuple is immutable

AttributeError: ignored

## Dictionaries `dict`

While lists and tuples are ordered sequences of elements, a dictionary is an unordered collection of so-called `key: value` pairs. This means every item in a dictionary has a key and a (only one) respective value. A dictionary is optimised to retrieve the value assigned to a certain key.

In a dictionary keys are often strings, but could technically also be other data types. **Keys have to be unique** (in a dictionary there cannot be two identical keys) and are **immutable**. 

Values on the other hand can be any data type e.g. int, string, bool, list, or even a dict (called nested dictionary). **Values don't have to be unique and are mutable.**

Let us have a look at a possible dictionary – we can create it by using curly brackets `{ }`:

In [ ]:
#Create a dictionary with key: value pairs
myBook = {"title": "The Great Gatsby", "author": "F. Scott Fitzgerald", "pages": 140, "movie_version": True}

#Retrieve a value of a corresponding key and print it
print(myBook["title"]) 	#This will print the value of the key "title" of the dictionary -> Output: "The Great Gatsby"

The Great Gatsby

In [ ]:
#Change a value in the dictionary
myBook["pages"] = 200

print(myBook)

{'title': 'The Great Gatsby', 'author': 'F. Scott Fitzgerald', 'pages': 200, 'movie_version': True}

As you can see, we can create a dictionary that contains several values each associated with a unique key. These values can be retrieved when we look up the key in the dictionary. If we **look up a key that does not exist** in that dictionary, we get a `KeyError`, signalling that there is no such key in that dictionary.

If we are working with dictionaries, there are some tricks that can be used that are especially useful for looping (which will be explained later). In case we only want to get all keys or all values of a dictionary we can use either .`keys()` or respectively `.values()`. If we want to get an overview over all existing `key:value`s pairs `.items()` is pretty useful. This can, for example, be useful to see what keys exist in a certain dictionary and to get a brief overview of its content.

In [ ]:
print(myBook.keys())

dict_keys(['title', 'author', 'pages', 'movie_version'])

In [ ]:
print(myBook.values())

dict_values(['The Great Gatsby', 'F. Scott Fitzgerald', 200, True])

In [ ]:
print(myBook.items())

dict_items([('title', 'The Great Gatsby'), ('author', 'F. Scott Fitzgerald'), ('pages', 200), ('movie_version', True)])

## Sets `set`

A set is an **unordered collection of items and each element in the set is unique**. Basically, it is the same as a set in mathematics. Thus, with a set we can perform mathematical operations such as union, intersection, symmetric difference, etc. or check if another set is a subset of the set at hand. 

We can create a set by using curly brackets `{ }` containing all elements that are in the set separated by a comma e.g. `primeNumbers = {2,3,5,7,11,13,17,19,23,29}`. In case we create a set with multiple items with the same value, they will be disregarded e.g. `{1,1,1,2,3}` will be just `{1,2,3}`.

In [ ]:
{1,1,1,2,3}

{1, 2, 3}

We can also transform other compound data types into sets by using the `set()` operator.

In [ ]:
myList = [1,2,3,4,3,2,1]
set(myList)

{1, 2, 3, 4}

## Determine the type of an object
When programming we often want to make sure that a variable is only of a certain type. Hence, we make use of two built-in functions (`type()` and `isinstance()`) to check the data type of a variable.

In [ ]:
#Find out what data type a certain variable is
a = "Python"
b = 1.2
c = {1,-2,3}

print(type(a)) # result -> str
print(type(b)) # result -> float
print(type(c)) # result -> set

<class 'str'>
<class 'float'>
<class 'set'>

In [ ]:
#Check if a variable is of a certain data type
isinstance(a, str) #Is variable a of type string? Result -> True

True

In [ ]:
isinstance(b, int) #Result -> False

False

In [ ]:
#The function isinstance() allows us to check for multiple data types, i.e. we can check if a variable is either int or float. 
# The code looks as follows: 

myVar = 4.4 # this is a float
isinstance(myVar, (int, float))

True

In [ ]:
myVar = 4 # this is an integer
isinstance(myVar, (int, float))

True

# **LIBRARIES**

In Python we have the possibility to use third-party libraries, which consist of multiple modules. These modules then provide additional functionalities that we can use. For example, we can use the module math to have more mathematical functionality or use the random module to easily create random numbers. To use a certain module, we have to import it first with the import statement.

In [ ]:
#Import a module
import math
import random

pi = math.pi #For example, the math module can be used to get the value of pi.
euler = math.e #Or to get the Euler number.

print(pi)
print(euler)

3.141592653589793
2.718281828459045

In [ ]:
random.randrange(0,10) 	#We can use the randrange() function from the random module to create a random number.

4

In [ ]:
# We can also import only specific variables from a module
from math import pi
from math import e

print(e)

2.718281828459045

In [ ]:
# As a last step we can rename the specific imports to make them fit better for our code

from math import e as euler
print(euler)

2.718281828459045

# **INPUT AND OUTPUT**
In order to generate a benefit, a program has to interact with the user. Therefore, we can make use of some built-in functions to output and input data.

## Input
It can be useful to assign a certain value the user inputs to a variable. With the `input()` function we can directly assign the input that is entered by the user into the standard input (i.e. in the Integrated Development Environment: the Console/Shell). We can also add optional text that will be displayed to the user so that he knows what has to be entered. The program will pause with the execution until some data is inputted:

In [ ]:
name = input("Please enter your name: ")
print(name)

Please enter your name: EasyPass
EasyPass

Please note that the data that is inputted through the standard input is always converted to a string. This means even if the user enters a number the variable will have a data type string and not integer. However, we can later convert that value by using the previously mentioned built-in conversion functions (int()).

In [ ]:
age = input("Please enter your age: ")
type(age)

Please enter your age: 21
<class 'str'>

In [ ]:
type(int(age))

int

## Input from the command line
When using Python from the Terminal / Command line we have different options to input data into the program: For this we need to import the module sys. Let's see how this is done in the Python script:

In [ ]:
#Import sys
import sys

#Create variables that use values that are passed from the command line 
input_1 = sys.argv[1] 	#sys.argv[1] stands for the first parameter we input from the command line.
input_2 = sys.argv[2] 	#sys.argv[2] stands for the second parameter we input from the command line.

At the same time, we somehow need to pass the parameters from the command line. This is done by just appending the parameters when calling the script from the command line: `python3 /Users/user/Desktop/test_script.py input_1 input_2`.

Probably, you have noted something unusual in the code above. Normally, we always use **zero-based indexing**, which means that the first argument should have an index of 0 and not 1. However, the reason is the following: the first argument sys.argv[0] is the script name itself (=test_script.py), the following arguments are technically then the 2nd and the 3rd argument.

## Output
Sometimes it can be very useful to visualize an output – for example, a result of a calculation or some other text – to the user. Thus, in Python we usually use of the `print()` function. When we "print" data, this means that the data outputted to the standard output (i.e. in the Thonny in the Console). Let's look at some examples:

In [ ]:
#Print predefined data (e.g. information to the user):
print("This is a predefined message.")

#Print the result of a calculation:
print(14*14)

#Print the value of a variable:
myName = "Kevin"
print(myName) 

#Combine some predefined text with a value of a variable:
print("My name is", myName)

This is a predefined message.
196
Kevin
My name is Kevin

# **IF STATEMENTS**

In programming we often want to perform actions dependent on certain criteria (so-called **Flow Control**). For example, it can be that we only want to execute a specific code in case a certain condition is fulfilled. This can be done with `if` statements. In order to better understand the nature of if statements, let us have a look at Boolean expressions and comparison operators in Python.

## Boolean Expressions and Comparisons

A fundamental element to understand if statements are Boolean expressions. A Boolean expression is a comparison between two values that are either `True` or `False`. For example, a simple Boolean expression that returns `True` would be 10 is greater than 9. Conversely, a Boolean expression that would be `False` is 10 is equal to 9.

These ideas can also be expressed a bit more abstractly through code. Therefore, we have to use so called comparison operators. In Python there are several of these operators:

*   `>` means is greater than

*   `<` means is smaller than

*   `==` means is equal to
*   `!=` means is not equal to


*   `>=` means is greater than or equal to


*   `<=` means is smaller than or equal to

In [ ]:
#Boolean Comparisons 
10 == 9 # -> result: False i.e. 10 is equal to 9 is a condition that is not true

False

In [ ]:
#We can perform the same comparison with a value stored in a variable
myNumber = 10
myNumber > 9 # result: True

True

In [ ]:
#We can also perform comparisons of text
myText = "Hello"
myText == "Hello" 	# -> result: True i.e. the value that myText stores is equal to "Hello"

True

## If Statement Syntax

```
if (test condition):
	print("The test condition is True")
elif (another test condition):
	print("The 2nd test condition is fulfilled")
else:
	print("The test condition is False")
```
In an if statement we can use a test condition. Only if the condition is `True`, the code inside the if-expression is executed. In case the expression is `False`, only the code in the else-expression is executed.

Generally, the `else` expression is optional. This means that there can be an if statement without an else statement. Then, in case the expression is `False`, no code will be executed. Also there is the possibility to check for several different conditions in case the first if condition is `False`. Then, one or multiple `elif` (stands for else if) statements with the corresponding test conditions can follow the initial if-statement.

## Logical operators
We have the possibility to use Boolean operators such as `and`, `or` and `not`. This allows us to do basic Boolean algebra e.g. we can combine multiple test conditions within one statement.

In [ ]:
#Logic operators help us to combine multiple test conditions
a = True
b = False

print((a and b)) #Result -> False (since both (a and b) are not True)

print((a or b)) #Result -> True (since either a or b (or both) are True)

print((not a)) #Result -> False (inverts the Boolean value of variable a)

False
True
False

In [ ]:
# implement these operators within an if statement
myNumber = 5
if (myNumber >= 0) and (myNumber <= 10):
	print("The number is between 0 and 10")

if (myNumber >= 0) and (myNumber <= 10) or (myNumber == 100):
	print("The number is either between 0 or equal to 100")

The number is between 0 and 10
The number is either between 0 or equal to 100

# **LOOPS**
Another useful concept in programming are loops. Loops can be used to perform the same code multiple times. There are two different types of loops – for loops and while loops.

## For Loops

A for loop can be used to iterate over a sequence (e.g. a list or tuple) or any other object that is iterable. Specifically, this means that we can iterate over each element in e.g. a list and apply some operation to that element separately. Let's consider an example, where we have a list `["A","B","C","D"]`. Our goal is to print every single element in the list separately with some text. This can be done by using a for loop:

In [ ]:
#Loop over an iterable object (e.g. a list) and perform an operation with each element in this list.
myList = ["A","B","C","D"]
for element in myList:
	print("My list contains the element: {}".format(element))

# As you can see this task can be heavily simplified by using a loop. 
# myList is an iterable and therefore can be used by the for loop. Please note, 
# that element is a random variable name that we define in order to later access 
# the single element of the list inside the for loop.

My list contains the element: A
My list contains the element: B
My list contains the element: C
My list contains the element: D

### For loops with range()
In for loops we can make use of the range() function to loop over a list. The range() function can be used to get a list that ranges from 0 up to (excluding) the number that is specified in the parenthesis e.g. `range(5)` -> `[0,1,2,3,4]`.
This list then again can be used to loop over, which is especially useful if we want to access element in another list. As an example let us look at the exact same function above just rewritten so that it uses a `range()` function.

In [ ]:
#For loop with the range() function.
myList = ["A","B","C","D"]
for element in range(4): #use range(len(myList)) to make it more general.
	print("My list contains the element: {}".format(myList[element]))

My list contains the element: A
My list contains the element: B
My list contains the element: C
My list contains the element: D

If you have trouble understanding this just imagine the following: Since the `range(4)` gives us the list `[0,1,2,3]`, we can just rewrite the code into a bit less general form:

In [ ]:
myList = ["A","B","C","D"]
for element in [0,1,2,3]:
	print(myList[element])

A
B
C
D

So, we will iterate over each element in this list [0,1,2,3] and then use these single elements as an index to access myList.

### Iterating over a dictionary

When we want to iterate over a dictionary, we have multiple choices – we can either loop over each key, each value or each key-value pair combined.

In [ ]:
#Create a dictionary

inhabitants = {"Rome": 2800000, "Paris": 2140000, "Berlin": 3700000, "Dubai": 3300000}

Iterating over keys with .key()

With this method we can access the corresponding value for a certain key with dictionary[key].

In [ ]:
for key in inhabitants.keys():
  print("{} has {} inhabitants".format(key, inhabitants[key]))

Rome has 2800000 inhabitants
Paris has 2140000 inhabitants
Berlin has 3700000 inhabitants
Dubai has 3300000 inhabitants

Iterate over each key value pair combined with .items()
We can directly access the value and the key

In [ ]:
for (key, value) in inhabitants.items():
	print("{} has {} inhabitants".format(key, value))

Rome has 2800000 inhabitants
Paris has 2140000 inhabitants
Berlin has 3700000 inhabitants
Dubai has 3300000 inhabitants

Alternatively, we can also just loop through all values of a dictionary by .values().
However, note that with this method we cannot retrieve the associated key of the value easily.

In [ ]:
for value in inhabitants.values():
	print(value)

2800000
2140000
3700000
3300000

## While

While loops are another form of repeatedly iterating over a certain bit of code. In comparison to for loops while loops repeat a certain bit of code as long as the test condition is `True`. Let's look at an example:

In [ ]:
#Example while loop.
myNumber = 0
while myNumber < 10:
	print(myNumber)
	myNumber = myNumber + 1

0
1
2
3
4
5
6
7
8
9

So, as long as the condition myNumber is smaller than 10 is fulfilled, it will repeat the code inside the while loop. The condition will not be True forever, since with each iteration we add +1 to myNumber and so after 10 repetitions the loop will stop.

# **FUNCTIONS**
A function is a snippet of code that is used to group your entire program into smaller, and more modular chunks of code that can be "called" separately. This also helps to reuse code and avoid writing the same code over and over again.

In [ ]:
#Basic structure of Functions in Python
def addAllNumbers(myList):
	"""This function adds the numbers of a given list"""

	sumOfList = sum(myList)
	print("The sum of all numbers is: {}".format(sumOfList))

#Calling a function (running the code in a function)
addAllNumbers([1,1,1,1]) #Result: The sum of all numbers is 4
addAllNumbers([1,2,3,4]) #Result: The sum of all numbers is 10

The sum of all numbers is: 4
The sum of all numbers is: 10

As you can see, a function is signalled by the keyword `def`, which is followed by the name the function should have. In brackets we can enter one or multiple parameters the function should take as an input (a function can also have no parameters, then we just use empty brackets `( )` ). Think of the parameters as variables or values that can be taken in and later be used inside the function’s code. Inside the function body we also have the possibility to add a `docstring` (signalled by triple quotation marks). A docstring is just a quick description of what the function does that can be used by the programmer for more clarity. If you want to read a docstring of a function, you can just enter the function's name, append .__doc__ and print it. `print(addAllNumbers.__doc__)` will for example print the docstring of the function defined above.

In [ ]:
print(addAllNumbers.__doc__)

This function adds the numbers of a given list

## Return

An important concept to understand is the return statement of a function. Previously, we mentioned that parameters take values from outside the function to use them inside the function. The return is kind of the opposite of that. It can be used to take a value from inside the function and make it accessible outside of the function. Before we looked only at functions that calculated a result without returning anything. This means, we calculated the sum of all numbers in a list, but only printed it. However, it might be necessary to use the result from the function somewhere else in our code, i.e. we do not want to print the result out just yet. This is when we use the return statement. Let us see how the returned value can be accessed from the outer code.

In [ ]:
#Function that instead of printing returns the calculated result.
def addAllNumbers(myList):
	sumOfList = sum(myList)
	return sumOfList

#Assign the return value to a variable
returnedValue = addAllNumbers([1,1,1,1]) 	#The variable returnedValue now stores the returned value (4)
print(returnedValue)

4

## Recursion
Recursion is the process when a function calls itself in its code. This is a very powerful tool to write more compact and easier to understand code. Recursion is often used in searching and sorting algorithms.

In [ ]:
#We can make a function that calculates the factorial of a number (e.g. 5 * 4 * 3 * 2 * 1)

def factorial(n):
	if n == 1:
		#If we arrive at n==1 stop the recursion and return.
		return n
	else:
		#Call the function again with the parameter (n-1).
		return n*factorial(n-1)
    
#Call the function the first time
factorial(5)

120